@import url('https://fonts.googleapis.com/css?family=Oxygen|VT323');


body, html {
  width: 100vw;
  background-color: #333;
  background: url("galaxy.png");
  margin: 0px;
  font-family: helvetica, arial;
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


#info {
  font-family: 'VT323', monospace;
  color: white;
  position: absolute;
  padding: 15px;
  left: 30%;
  top: 1rem;
  z-index: 1;
  height: 100vh;
}

button {
  position: relative;
  bottom: 5px;
}

#msg {
  font: 40px 'VT323', monospace;;
}

#info h3 {
  margin: 1px;
}

#loading {
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#d3stuff {
  width: 25vw;
  border-right: 1px ridge #999;
  position: absolute;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
  overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
